{% extends "home.html" %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href= "{% static "css/profile.css" %}" />
<li><a href="/logout/">Logout</a></li>
<div class = "grid-x grid-x-padding">
  <div class = "large-3 medium-3 small-3 columns">
    <div class = "grid-x grid-x-padding">
        <div class = "large-6 medium-6 small-6 large-offset-3 medium-offset-3 small-offset-3" id = "pages">
          <p>
            Be centered please!
          </p>
        </div>
    </div>
  </div>
  <div class = "large-6 medium-6 small-6 columns">
  <h1>{{name}}</h1>
  <form action = '/accounts/profile' class = "text-centered" method="post">
    {% csrf_token %}
    {{ form.school.label_tag }}{{ form.school }}
    {{ form.years.label_tag }}{{ form.years }}
    <input type="submit" class = "button rounded">
  </form>
  </div>
  <div class = "large-3 medium-3 small-3 columns">
  </div>
</div>
{% endblock %}
